@import ../../global/components/menu/styles/regular-page
@import ../../global/styles/banner
@import ../../global/styles/page-layout
@import ../../global/styles/typography
@import ../../global/styles/breakpoints


.resume__banner
  @include site__banner()
  background-image: url(../images/hello-i-m-nik-281498.jpg)
  background-repeat: no-repeat
  @media screen and (max-width: $mobile-portrait)
    background-image: url(../images/hello-i-m-nik-281498--mobile.jpg)

.resume__banner-heading
  @include site__banner-heading(#737373)

.resume__paragraph-text
  @include site__paragraph-text()
  width: 100vw
  height: 140vw
  @media screen and (min-width: 700px)
    height: 960px



.contact__paragraph-text
  @include site__paragraph-text()
  @media screen and (max-width: $tablet-portrait)
    text-align: center

.contact-link
  display: flex
  align-items: center
  margin-left: 140px
  text-decoration: none
  @media screen and (max-width: $tablet-portrait)
    margin-left: 0

.contact-link__text
  margin-left: 30px
  font-family: $ledger
  @media screen and (max-width: $tablet-portrait)
    display: block
    text-decoration: underline
    margin-left: 0

@mixin contact-icons
  @media screen and (max-width: $mobile-portrait)
    width: 40px
    height: 40px
    margin-right: 20px

.email-icon
  @include contact-icons()

.phone-icon
  width: 80px
  @include contact-icons()

.linked-in-logo
  width: 80px
  @include contact-icons()
  @media screen and (max-width: $mobile-portrait)
    height: auto
