@import ../../global/components/menu/styles/regular-page
@import ../../global/styles/banner
@import ../../global/styles/page-layout
@import ../../global/styles/typography
@import ../../global/styles/breakpoints
@import ../../global/components/animated-heading/styles/animated-heading


.blog-banner
  @include site-banner()
  background-repeat: no-repeat

.blog__heading
  @include site-banner__heading--animated(#737373)
  .char
    $total-chars: 6
    @for $i from 0 through ($total-chars - 1)
      &[style*="--char-index:#{$i}"], &[style*="--char-index: #{$i}"]
        @include conan-letters($i, $total-chars)

.blog__paragraph-text
  @include site__paragraph-text()
  width: 100vw
  height: 140vw
  @media screen and (min-width: 700px)
    height: 960px
  @media screen and (max-width: $tablet-portrait)
    max-width: 100%

.blog-post-page
  margin: 4rem auto 0
  display: grid
  justify-content: center

.blog-post
  max-width: 45rem
  margin-left: 2rem
  margin-bottom: 4rem
  padding-bottom: 2rem
  text-align: left
  border-bottom: 1px solid #cfcfcf

.blog-post__title
  font-size: 2.5rem

.blog-post__date
  text-transform: uppercase
  font-weight: bold
  letter-spacing: 2px
  color: #555
  margin-bottom: 1rem

.blog-post__image
  width: 100%
  height: 23rem
  object-fit: cover

.blog-post__content
  font-size: 1.2rem
  img
    width: 90%
  p
    line-height: 1.3
