@import ../../global/components/menu/styles/regular-page
@import ../../global/styles/page-layout
@import ../../global/styles/typography
@import ../../global/styles/breakpoints
@import ../../global/styles/banner
@import ../../global/styles/lists
@import ../../global/styles/images
@import ../../global/components/animated-heading/styles/animated-heading



.who-banner
  @include site-banner()
  background-image: url(../images/kristopher-roller-188180.jpg)
  background-repeat: no-repeat
  @media screen and (max-width: $mobile-portrait)
    background-image: url(../images/kristopher-roller-188180--mobile.jpg)
    background-position-x: center

.who-banner__heading
  @include site-banner__heading--animated(#345663)
  .char
    $total-chars: 6
    @for $i from 0 through ($total-chars - 1)
      &[style*="--char-index:#{$i}"], &[style*="--char-index: #{$i}"]
        @include conan-letters($i, $total-chars)


.who-i-am__image
  @include site__image()
  display: block
  margin: 0 auto 50px auto