@import ../../../styles/work-ive-done-subpages-base



// Banner
.ui-components-banner
  @include work-example-banner()
  background-image: url(../images/form-background-water-paper.png)
  background-repeat: no-repeat
  &:before
    background: rgba(19, 18, 18, 0.21)

.ui-components-banner__heading
  @include site__banner-heading(#193059)